@model ContactViewModel
@{
    ViewData["Title"] = "Accueil";
}
<h1>Carnet d'adresses de @ViewBag.User</h1>
<table class="table table-bordered">
    <thead>
        <tr><th>Prénom</th><th>Nom</th><th colspan="2">Téléphone</th><th>Email</th><th>Groupes</th></tr>
    </thead>
    <tbody>
        @foreach (Contacts contact in Model.contacts)
        {
            <tr class="clickable-row" data-href="Contacts/Details/@contact.Id">
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                @if (contact.Country == null)
                {
                    <td colspan="2">&nbsp;</td>
                }
                else
                {
                    <td>@contact.Country.Name (+@contact.Country.Dialcode)</td>
                    <td>@(String.IsNullOrEmpty(contact.PhoneNumber) ? "-" : contact.PhoneNumber)</td>
                }
                <td>@(String.IsNullOrEmpty(contact.Email) ? "-" : contact.Email)</td>
                @if (contact.Belong.Count() == 0)
                {
                    <td>(Aucun)</td>
                }
                else
                {
                    <td>
                        @foreach (Belong b in contact.Belong)
                        {
                            <span>@b.Group.Name</span>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Contacts" asp-action="Create">Nouveau contact</a>
